AllowUsers {{ AllowUsers }}
Port 22

Protocol 2
UsePrivilegeSeparation yes

LoginGraceTime 60
PermitRootLogin yes
StrictModes yes

PubkeyAuthentication yes
AuthorizedKeysFile  %h/.ssh/authorized_keys

RSAAuthentication no
RhostsRSAAuthentication no
HostbasedAuthentication no

IgnoreRhosts yes
PermitEmptyPasswords no

ChallengeResponseAuthentication no

UsePAM yes
PasswordAuthentication no

KerberosAuthentication no

GSSAPIAuthentication no

GatewayPorts no

X11Forwarding no
PrintMotd no
PrintLastLog yes
TCPKeepAlive yes
UseLogin no

MaxStartups 10:30:60
Banner /etc/sshbanner.txt

AcceptEnv No

Ciphers blowfish-cbc,aes256-cbc,aes256-ctr
MACs hmac-sha2-256,hmac-sha2-512,hmac-sha1

HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_dsa_key
HostKey /etc/ssh/ssh_host_ecdsa_key

SyslogFacility AUTH
LogLevel INFO

Subsystem sftp /usr/lib/openssh/sftp-server