---



- name: "Clone Pi Weather Station (PiWS) Repository.  Branch:  {{ repo_branch }}"
  git:
    repo: "{{ repo_url }}"
    dest: "{{ repo_path }}"
    version: "{{ repo_branch }}"
    key_file: "{{ ssh_path }}/id_rsa"
    accept_hostkey: yes
    force: yes



- name: Ensure log directory exists
  file:
    path: /var/log/piws
    state: directory
    owner: piws
    group: piws
    mode: 0775


- name: "Ensure log file exists and is owned by piws"
  file:
    path: /var/log/piws/piws_api.log
    state: touch
    owner: piws
    group: piws
    mode: 0660



- name: Install virtualenv via pip
  pip:
    name: virtualenv
    executable: pip


- name: Ensure venv directory exists
  file:
    path: "{{ venv_path }}"
    state: directory
    owner: piws
    group: piws
    mode: 0775



- name: "Remove old piws_api/ directory"
  file:
    path: "{{ venv_path }}/bin/piws_api/"
    state: absent


- name: "Setup {{ python_version }} venv for running the site from requirements file: {{ repo_path  }}/requirements.txt "
  pip:
    virtualenv: "{{ venv_path }}"
    virtualenv_python: "{{ python_version }}"
    requirements: "{{ repo_path }}/requirements.txt"
    state: present


- name: "Copy files to venv/bin folder for server to run.  "
  command: "cp -r {{ repo_path }}/{{ item }} {{ venv_path }}/bin/"
  with_items:
   - "send_to_api.py"
   - "piws_api/"
  args:
    chdir: "{{ repo_path }}"



- name: "Set piws as owner to directory"
  file:
    path: "{{ venv_path }}/bin"
    recurse: yes
    owner: "piws"
    group: "piws"
    mode: 0770



- name: "Setup Service (systemd) for piws_api"
  template:
    src: piws_api.service.j2
    dest: "/etc/systemd/system/piws_api.service"
    owner: piws
    group: piws
    mode: 0775


- name: Setup EnvironmentFile for service and its secrets.
  template:
    src: piws_api.env.j2
    dest: "{{ venv_path }}/bin/piws_api.env"
    owner: "piws"
    group: "piws"
    mode: 0440


- name: Enable service (systemctl)
  command: "systemctl enable piws_api"
  notify:
    - "Restart PiWS API service"



...