[Unit]
Description=Pi Weather Station (PiWS) TYG API Service
After=network.target

[Service]
EnvironmentFile={{ venv_path }}/bin/piws_api.env
Type=simple
User=piws
WorkingDirectory={{ venv_path }}/bin
ExecStart={{ venv_path }}/bin/python send_data.py
Restart=on-abort

[Install]
WantedBy=multi-user.target