DB_NAME={{ piws_db_name }}
DB_HOST={{ piws_db_ip }}
DB_USER={{ piws_db_user }}
DB_PW={{ piws_db_password }}
TYG_SENSOR_ID={{ tyg_sensor_id }}
TYG_API_KEY={{ tyg_api_key }}
API_HOST={{ tyg_api_host }}
